*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Prompt', sans-serif;
font-family: 'Sarabun', sans-serif;
}

body, html {
  margin: 0;
  min-height: 100%;
}

// .bg { 
//   /* The image used */
//   background-image: url("/assets/img/rm222batch2-mind-03.jpg");

//   /* Full height */
//   height: 100%; 
//   /* Center and scale the image nicely */
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.container{
    width: 1100px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    background-color:#ffffff;
    // border: 3px solid #2196F3;;
    border-radius: 10px;
    border-top: none;
    border-bottom: nones;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

}
.card{
    height: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-right: 20px;
}
.card-top{
    display: flex;
    align-items: center;
    height: 20px;
}
#img-ll{
    margin-right: 5px;
}
.card-mid-lil{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  .info {
    border-color: #2196F3;
    color: dodgerblue;
    border-radius: 50px;
  }
  .info:hover {
    background: #2196F3;
    color: white; 
  }
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type=number]{
    border-radius: 10px;
    margin: 5px;
    border-color: #2196F3;
  }
  input[type=text]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type=text]{
    color: red;
    border-radius: 10px;
    margin: 5px;
    border-color: #2196F3;
  }
  input:focus {
    /* ตั้งค่าสีพื้นหลังของ input เมื่อโฟกัส */
    background-color: lightgray;
    /* ตั้งค่าสีของข้อความเพื่อให้เห็นง่าย */
    color: black;
    /* เปลี่ยนรูปแบบเคอร์เซอร์เป็นรูปแบบปกติ */
    border: 1px solid #ccc;
    /* หรือคุณสามารถเปลี่ยนค่าอื่น ๆ ตามที่คุณต้องการ */
  }
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* สร้างสองคอลัมในแต่ละแถว */
    gap: 10px; /* ระยะห่างระหว่าง grid items */
  }
  
  mat-toolbar {
    background-color: #ADD8E6;
    box-shadow: 105;
    padding-left: 130px;
    // position: fixed;
    // border-radius: 10px;
    height: 60px;
    // margin-bottom: 5px;
    // border: 3px solid #2196F3;;
    border-left: none;
    border-right: none;

    background-image: url("/assets/img/rm222batch2-mind-03.jpg");
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  /* เปลี่ยนสีข้อความภายใน mat-toolbar */
  mat-toolbar span {
    color: #000000; /* ตั้งค่าสีข้อความเป็นสีขาว */
  }
  .nav-menu{
    width:100% ;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
  }
  
  
  
  