<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;700&family=Sarabun:wght@100&display=swap"
        rel="stylesheet">
</head>

<mat-toolbar>
    <span routerLink="" style="font-weight: bolder; cursor: pointer;">อิฐพารวย</span>
    <div class="nav-menu">
        <div>
            <span routerLink="/to-buy" style="font-size: 13px; cursor: pointer; margin-left: 30px;">กระเป๋าล็อตเตอรี่</span>
            <span routerLink="/buy-his" style="font-size: 13px; margin-left: 30px; cursor: pointer;">ประวัติการซื้อ</span>
            <span routerLink="/my-lot" style=" text-shadow: 2px 2px 5px black;  font-size: 13px; margin-left: 30px; cursor: pointer;">ล็อตเตอรี่ของฉัน</span>
        </div>
        <div>
            <!-- <span routerLink="/register" style="font-size: 13px; cursor: pointer;">สมัครสมาชิก</span> -->
        </div>
    </div>
  </mat-toolbar>

  <div class="container">
    <div style="text-align: center; margin-bottom: 35px; margin-top: 30px;">
        <p style="margin-bottom: 20px; font-size: xx-large; font-weight: bold;">ล็อตเตอรี่ของฉัน</p>
    </div>
  </div>

